h1, h2 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h1 {
    font-size: 3em;
}

p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    border-radius: 5px;
    border: solid 1px black;
    margin: 10px;
    padding: 10px;
    height: 590px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    max-height: 300px;
}

@media only screen and (max-width: 1200px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 900px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
}